<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmeng.mapper.AdminuserMapper">
  <resultMap id="BaseResultMap" type="com.lmeng.pojo.Adminuser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="adminUserId" jdbcType="INTEGER" property="adminuserid" />
    <result column="entryUserId" jdbcType="INTEGER" property="entryuserid" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="partMobile" jdbcType="VARCHAR" property="partmobile" />
    <result column="salt" jdbcType="CHAR" property="salt" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="superAdmin" jdbcType="INTEGER" property="superadmin" />
    <result column="statusId" jdbcType="INTEGER" property="statusid" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="createId" jdbcType="INTEGER" property="createid" />
    <result column="roleid" jdbcType="INTEGER" property="roleid" />
    <result column="createUser" jdbcType="VARCHAR" property="createuser" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="lastUpdateId" jdbcType="INTEGER" property="lastupdateid" />
    <result column="lastUpdateUser" jdbcType="VARCHAR" property="lastupdateuser" />
    <result column="lastUpdateTime" jdbcType="TIMESTAMP" property="lastupdatetime" />
  </resultMap>
</mapper>